// import predefined sets
@import '../../presets/common';

// variables
$footer-base-idx: 1;

/* Touch Class */
// allowing rules when there is no touch event fired
// simply env without touch input (still as long as touch events get fired header will detect it)
.dd-header-no-touch {

}

/* Footer */
// common Settings
.dd-footer,
.dd-footer-wrap {
  box-sizing: border-box;
  position: relative;

  margin: $marginZero;
}

// Footer Foundation
.dd-footer {
  width: 100%;
  height: auto;

  min-width: $mobile-min;

  color: $dd-color-04;
  z-index: $footer-base-idx;
}

.dd-footer a,
.dd-footer a:link,
.dd-footer a:visited,
.dd-footer a:active {
  color: inherit;
}

// Footer Wrap
.dd-footer-wrap {
  border-top: 1px solid $dd-color-05;
  width: 90%;
}

// Footer Wrap Flex-box
.dd-footer-wrap-flex {
  display: flex;
}

/* Footer Wrap info section */
.dd-footer-info {
  width: auto;
  p {
    font-size: 0.75rem;
    line-height: 1.67;
    font-weight: normal;
    margin-top: 20px;
  }
}
.dd-footer-dd,
.dd-footer-details,
.dd-footer-copyright {
  display: block;
  font-weight: 500;
}
.dd-footer-dd {
  font-size: 18px;
  line-height: 27px;
}
.dd-footer-details {

}
.dd-footer-details-row {
  font-size: 12px;
  line-height: 18px;
}
.dd-footer-copyright {
  font-size: 12px;
  line-height: 18px;
}

/* Footer Wrap menu section */
.dd-footer-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.dd-footer-menu-item {
  display: inline-block;
}
.dd-footer-menu-item a {
  font-weight: 500;
}

// Mobile Settings
@media only screen and (min-width: $zero) {
//@media only screen and (min-width: $mobile-min) {
  .dd-footer {

  }
  .dd-footer-wrap {
    max-width: $mobile-max;
    padding-top: 30px;
    padding-bottom: 47px;
  }
  .dd-footer-wrap-flex {
    flex-direction: column;
  }
  .dd-footer-info {
    margin-bottom: 47px;
  }
  .dd-footer-dd {
    margin-bottom: 19px;
  }
  .dd-footer-details {

  }
  .dd-footer-details-row {

  }
  .dd-footer-copyright {
    margin-top: 16px;
  }
  .dd-footer-menu-list {
    max-width: 303px;
    margin: $marginZero;
  }
  .dd-footer-menu-item {

  }
  .dd-footer-menu-item a {
    font-size: 15px;
    line-height: 22px;
  }
}

// Tablet Settings
@media only screen and (min-width: $tablet-min) {
  .dd-footer {

  }
  .dd-footer-wrap {
    max-width: $tablet-max;
    padding-top: 47px;
    padding-bottom: 69px;
  }
  .dd-footer-wrap-flex {
    flex-direction: column;
  }
  .dd-footer-info {
    margin-bottom: 43px;
  }
  .dd-footer-dd {
    margin-bottom: 24px;
  }
  .dd-footer-details {

  }
  .dd-footer-details-row {

  }
  .dd-footer-copyright {
    margin-top: 19px;
  }
  .dd-footer-menu-list {
    //max-width: 303px;
    margin-left: auto;
    margin-right: 0;
  }
  .dd-footer-menu-item {

  }
  .dd-footer-menu-item a {
    font-size: 15px;
    line-height: 22px;
  }
}

// Desktop(PC) Settings
@media only screen and (min-width: $pc-min) {
  .dd-footer {

  }
  .dd-footer-wrap {
    max-width: $pc-max;
    padding-top: 35px;
    padding-bottom: 94px;
  }
  .dd-footer-wrap-flex {
    justify-content: space-between;
    flex-direction: row;
  }
  .dd-footer-info {
    margin-bottom: 0;
  }
  .dd-footer-dd {
    margin-bottom: 25px;
  }
  .dd-footer-details {

  }
  .dd-footer-details-row {

  }
  .dd-footer-copyright {
    margin-top: 25px;
  }
  .dd-footer-menu-list {
    //max-width: 303px;
    margin: 0;
  }
  .dd-footer-menu-item {

  }
  .dd-footer-menu-item a {
    font-size: 15px;
    line-height: 22px;
  }
}
