@import './src/presets/varialbes';
// Header Base
.-header-base,
.-header-base-active {
  box-sizing: border-box;
  min-width: $MOBILE_MIN_WIDTH;
  width: 100%;
  z-index: $HEADER_IDX;
  top: 0;
  left: 0;
  position: fixed;
  // TEST
  @include tempHeaderLine;
}

.-header-inactive-box {

}

.-header-nav {

}

.-header-padding {
  width: 100%;
  min-width: $MOBILE_MIN_WIDTH;
  box-sizing: border-box;
  z-index: $FOOTER_IDX; // SAME AS FOOTER
}

@media only screen and (min-width: 0px) and (max-width: $MOBILE_MAX_WIDTH) {
  .-header-padding,
  .-header-base,
  .-header-base-active {
    height: 36px;
  }
}

@media only screen and (min-width: $TABLET_MIN_WIDTH) and (max-width: $TABLET_MAX_WIDTH) {
  .-header-padding,
  .-header-base,
  .-header-base-active {
    height: 40px;
  }
}

@media only screen and (min-width: $PC_MIN_WIDTH) {
  .-header-padding,
  .-header-base,
  .-header-base-active {
    height: 48px;
  }
}
