@import './src/presets/varialbes';
@import './src/presets/common';

// Footer Base
.-footer-base {
  background-color: $dd-color-03;
  box-sizing: border-box;
  min-width: $MOBILE_MIN_WIDTH;
  width: 100%;
  z-index: $FOOTER_IDX;
}

// Section Icon
.-section-icon {
  @include marginZero;
  max-width: 90%;
}

// Icon Box
.-icons-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include marginZero;

  & > a {
    display: block;
    min-width: 1.875rem;
    min-height: 1.875rem;
    transition: .3s ease all;
  }

  & > a:hover {
    transform: scale(1.05);
    opacity: 0.7;
  }

  & svg {
    height: 100%;
  }

  & svg *{
    //fill: $dd-color-02!important;
    fill: $dd-color-text!important;
  }
}

// Section Copyright
.-section-cr {
  @include marginZero;
  max-width: 90%;

  & > p {
    color: $dd-color-text;
    text-align: center;
    font-weight: $Thin;
  }
}

@media only screen and (min-width: 0px) and (max-width: $MOBILE_MAX_WIDTH) {
  .-footer-base {
    padding: 1.25rem 0;
  }
  .-section-icon {
    margin-bottom: 0.875rem;
  }
  .-icons-box {
    max-width: 17.5rem;

    & > a {
      width: 2.75rem;
      height: 2.75rem;
    }
  }
  .-section-cr {
    & > p {
      font-size: $MOBILE_SUB;
    }
  }
}

@media only screen and (min-width: $TABLET_MIN_WIDTH) and (max-width: $TABLET_MAX_WIDTH) {
  .-footer-base {
    padding: 2.5rem 0;
  }
  .-section-icon {
    margin-bottom: 1.125rem;
  }
  .-icons-box {
    max-width: 20rem;

    & > a {
      width: 3.125rem;
      height: 3.125rem;
    }
  }
  .-section-cr {
    & > p {
      font-size: $TABLET_SUB;
    }
  }
}

@media only screen and (min-width: $PC_MIN_WIDTH) {
  .-footer-base {
    padding: 3.75rem 0;
  }
  .-section-icon {
    margin-bottom: 1.25rem;
  }
  .-section-icon,
  .-section-cr {
    max-width: $PC_MAX_WIDTH;
  }

  .-icons-box {
    max-width: 22.5rem;

    & > a {
      width: 3.75rem;
      height: 3.75rem;
    }
  }
  .-section-cr {
    & > p {
      font-size: $PC_SUB;
    }
  }
}
